* {
    box-sizing: border-box;
    /* background-color: #f8fcff; */
    /* color: #2c3e50; */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #2c3e50;
    margin: 0;
    border-radius: 16px;
}

nav {
}

